@model Projeto_PetShop.Models.Tutor
@{
    ViewData["Title"] = "Editar Tutor";
}
<div class="text-center">
    <h1 class="display-4">Editar Tutor</h1>
</div>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id"/>
    <div>
        <label asp-for="Nome">Nome *</label>
        <input type="text" asp-for="Nome" class="form-control"/>
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Telefone">Telefone *</label>
        <input type="Tel" asp-for="Telefone" class="form-control"/>
        <span asp-validation-for="Telefone" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Email">Email *</label>
        <input type="email" asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Endereco">Endereço Completo*</label>
        <input type="text" asp-for="Endereco" class="form-control"/>
        <span asp-validation-for="Endereco" class="text-danger"></span>
    </div>
        <button type="submit" class="btn btn-primary mt-3">Salvar Alteração</button>
        <a asp-action="Index" class="btn btn-secondary mt-3">Cancelar</a>
</form>