@model Projeto_PetShop.ViewModels.AgendamentoCreateViewModel

@{
    ViewData["Title"] = "Editar Agendamento";
}

<div class="text-center "> 
    <h1 class="display-4">Editar Agendamento</h1>
</div>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger text-center">
        @ViewBag.ErrorMessage
    </div>
}

<div class="card shadow-lg rounded p-4">

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Agendamento.Id" />

    <div>
        <label asp-for="Agendamento.DataHoraAgendamento">Data do Agendamento *</label>
        <input type="datetime-local" asp-for="Agendamento.DataHoraAgendamento" class="form-control" />
        <span asp-validation-for="Agendamento.DataHoraAgendamento" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Agendamento.DataHoraAtendimento">Data do Atendimento</label>
        <input type="datetime-local" asp-for="Agendamento.DataHoraAtendimento" class="form-control" />
        <span asp-validation-for="Agendamento.DataHoraAtendimento" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Agendamento.PetId">Pet *</label>
        <select asp-for="Agendamento.PetId" asp-items="@(new SelectList(Model.Pets, "Id", "Nome", Model.Agendamento.PetId))" class="form-select">
            <option value="">Selecione o Pet</option>
        </select>
        <span asp-validation-for="Agendamento.PetId" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Agendamento.ServicoId">Serviço *</label>
        <select asp-for="Agendamento.ServicoId" asp-items="@(new SelectList(Model.Servicos, "Id", "Nome", Model.Agendamento.ServicoId))" class="form-select">
            <option value="">Selecione o Serviço</option>
        </select>
        <span asp-validation-for="Agendamento.ServicoId" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Agendamento.status">Status do Agendamento *</label>
        <select asp-for="Agendamento.status" class="form-select"
                asp-items="Html.GetEnumSelectList<Projeto_PetShop.Enums.Agendamento.StatusAgendamento>()">
            <option value="">Selecione o Status</option>
        </select>
        <span asp-validation-for="Agendamento.status" class="text-danger"></span>
    </div>



    <button type="submit" class="btn btn-primary mt-3">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Cancelar</a>
</form>

</div>
